#master_div{
    margin: 10%;
}
#title_bannner{
    text-shadow: 5px 5px 10px white;
    text-decoration: solid;
}
body {
  margin-top: 0%;
  margin-bottom: 20%;
  margin-left: 20%;
  margin-right: 20%;
  background-color: black;
  color: aliceblue;
  box-shadow: 20px 20px 20px #888e88;
}
div#title_bannner {
  text-align: center;
}
h3 {
  font-weight: normal;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#source_code{
    color: beige;
text-align: center;
font-size: large;
}